@model EatClean.Entity.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutSignInSignUp.cshtml";
}

<div class="uk-grid-collapse" data-uk-grid>
    <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center" data-uk-height-viewport>
        <div class="uk-width-3-4@s">
            <div class="uk-text-center uk-margin-bottom">
                <a class="uk-logo uk-text-primary uk-text-bold" href="/Kocina/Index">Kocina</a>
            </div>
            <div class="uk-text-center uk-margin-medium-bottom">
                <h1 class="uk-h2 uk-letter-spacing-small">Sign In to Kocina</h1>
            </div>
            <div class="uk-text-center uk-margin">
                <p class="uk-margin-remove">Or use your email account:</p>
            </div>
            @if (TempData["Success"] != null)
            {
                <p class="uk-text-center" style="color:forestgreen">@TempData["Success"]</p>
            }
            @if (ViewBag.ErrorsLogin != null)
            {
                <p class="uk-text-center" style="color:red">@ViewBag.ErrorsLogin</p>
            }
            @using (Html.BeginForm("Login", "Kocina", FormMethod.Post, new { @class = "uk-text-center" }))
            {
                @Html.AntiForgeryToken()
                <div class="uk-width-1-1 uk-margin">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "uk-form-label" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "uk-input uk-form-large uk-border-pill uk-text-center" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @style = "color:red;font-size:15px" })
                </div>
                <div class="uk-width-1-1 uk-margin">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "uk-form-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "uk-input uk-form-large uk-border-pill uk-text-center" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red;font-size:15px" })
                </div>
                <div class="uk-width-1-1 uk-text-center">
                    <button class="uk-button uk-button-primary uk-button-large">Login</button>
                </div>
            }
        </div>
    </div>
    <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center uk-light" data-uk-height-viewport>
        <div class="uk-background-cover uk-background-norepeat uk-background-blend-overlay uk-background-overlay
      uk-border-rounded-large uk-width-1-1 uk-height-xlarge uk-flex uk-flex-middle uk-flex-center"
             style="background-image: url(https://res.cloudinary.com/nguyenhs/image/upload/v1654673326/Sem3/EatClean/page_948_1589355953_1589357731_bdqipo.jpg);">
            <div class="uk-padding-large">
                <div class="uk-text-center">
                    <h2 class="uk-letter-spacing-small">Hello There, Join Us</h2>
                </div>
                <div class="uk-margin-top uk-margin-medium-bottom uk-text-center">
                    <p>Enter your personal details and join the cooking community</p>
                </div>
                <div class="uk-width-1-1 uk-text-center">
                    <a href="/Kocina/Register" class="uk-button uk-button-primary uk-button-large">Register</a>
                    <a href="/" class="uk-button uk-button-primary uk-button-large">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}